@use "../abstract" as *;

.home-page {
	display: flex;

	&__welcome {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__image {
			width: 15%;
			margin-bottom: 1.5rem;
		}

		&__heading {
			color: $color-grey;
			font-size: 2rem;
			font-weight: 500;

			&-span {
				color: $color-blue-1;
			}
		}
	}

	&__create-post {
		margin: 5rem 0;
	}

	&__posts {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
}
