@use '../abstract' as *;

.news {
  @include appContainer;

  &__image {
    width: 15%;
    margin-bottom: 5rem;
  }

  &__heading {
    margin-bottom: 3rem;
    color: $color-blue-3;
    font-size: 3.5rem;
    font-weight: 500;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__navigation {
    display: flex;
    justify-content: space-around;
    width: 30%;
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    border-bottom: 1px solid rgba($color-grey, 0.2);

    &__previous,
    &__next {
      color: $color-blue-1;
      transition: all 0.2s;

      &:hover {
        color: $color-blue-3;
      }
    }

    &__current {
      color: $color-black;
    }
  }

  &__card {
    @include appCard;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    width: 60%;

    &__title {
      color: $color-black;
      font-size: 2.2rem;
    }

    &__image {
      width: 50%;
      align-self: center;
      margin: 3rem 0;
      border-radius: 5px;
      box-shadow: 0 0 1rem rgba($color-black, 0.35);
    }

    &__description {
      margin-bottom: 3rem;
      color: $color-grey;
      font-size: 1.8rem;
    }

    &__link {
      color: $color-blue-3;
      font-size: 1.6rem;
      transition: all 0.2s;

      &:hover {
        color: $color-blue-1;
      }
    }
  }
}

.hidden {
  visibility: hidden;
}
