@use "../abstract" as *;

.register-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

	&__form {
		width: 22%;
		background-color: $color-blue-3;

		@include respond(phone) {
			width: 90%;
		}

		&__heading {
			margin-bottom: 1rem;
			color: $color-white;
			font-size: 2.4rem;
			font-weight: 500;
		}

		&__paragraph {
			font-size: 2rem;
			font-weight: 500;
			margin-bottom: 4rem;
		}

		&__group {
			margin-bottom: 1rem;
		}

		&__button {
			margin-bottom: 2rem;
		}
	}
}
