// Colors
$color-white: #f2f2f2;
$color-black: #202020;
$color-grey: #2c2c2c;
$color-green: #00c50a;
$color-red: #bd0808;

$color-blue-1: #2745f2;
$color-blue-2: #415cf2;
$color-blue-3: #6b7ff2;
$color-blue-4: #d3d7ec;
