@use "../abstract" as *;

.app {
	min-height: 100%;
	background-color: $color-white;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
		padding-top: 3rem;
	}
}
