@use '../abstract' as *;

.create-post {
  @include appContainer;

  &__heading {
    @include appHeading;
  }

  &__form {
    @include appCard;
    width: 60%;

    &__input {
      margin-bottom: 2rem;
    }

    &__textarea {
      margin-bottom: 3rem;
      resize: none;
      height: 25rem;
    }

    &__button:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
