@use "../abstract" as *;

.form {
	display: flex;
	flex-direction: column;
	padding: 3rem 4rem;
	box-shadow: 0 7px 8px rgba($color-black, 0.4);
	color: $color-black;

	@include respond(phone) {
		width: 90%;
	}

	&__message {
		display: none;
		text-align: center;
		font-size: 1.8rem;
		margin-bottom: 2rem;

		&--valid {
			display: block;
			color: $color-green;
		}

		&--invalid {
			display: block;
			color: $color-red;
		}
	}

	&__group {
		display: flex;
		flex-direction: column;
	}

	&__input {
		padding: 1rem 2rem;
		background-color: rgba($color-white, 0.5);
		border: 1px solid transparent;
		box-shadow: 0 5px 5px rgba($color-black, 0.2);
		font-size: 1.8rem;
		transition: all 0.3s;

		&--valid {
			border: 1px solid $color-green;
		}

		&--invalid {
			border: 1px solid $color-red;
			background-color: rgba($color-red, 0.15);
		}

		&::placeholder {
			color: $color-black;
		}

		&:hover {
			background-color: rgba($color-white, 0.7);
			box-shadow: 0 7px 8px rgba($color-black, 0.2);
			transform: scale(1.01);
		}

		&:focus {
			background-color: $color-white;
			box-shadow: 0 5px 5px rgba($color-black, 0.4);
			border: 1px solid rgba($color-black, 0.4);
			outline: none;
			transform: scale(1);
		}
	}

	&__label {
		margin-top: 0.5rem;
		margin-left: 2rem;
		color: $color-white;
		font-size: 1.8rem;
		text-shadow: 0 0 1rem $color-black;
		transition: all 0.3s;
	}

	&__input:placeholder-shown + &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	}

	&__link {
		color: $color-white;
		font-size: 1.6rem;
		text-align: center;
		transition: all 0.2s;

		&:hover {
			color: rgba($color-white, 0.8);
		}
	}
}
